*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ROW */

.row{
   display: flex;
   justify-content: center;
   align-content: center;
   margin: 0 auto;
}

.justify-end{
    justify-content: flex-end;
}

.row-padding{
    padding: 15px 0;
}

.row-gap{
    gap: 20px 20px;
}

.flex-wrap{
    flex-wrap: wrap;
}

/* CONTAINER */

.img-size{
    height: 600px;
    width: 400px;
}

.container-fluid{
    width: 100%;
}

.container{
    display: flex;
    margin: 0 auto;
}

/* LOGO */

.logo-boolando{
    width: 200px;
    height: 50px;
}

/* LIST CUSTOMIZATION */

.header-ul{
    display: inline;

}

.header-li{
    display: inline;
    padding: 0px 3px;
}

/* CATALOG CUSTOMIZATION */

div > .fa-heart{
    position: absolute;
    top: 10px;
    right: 0px;
    background-color: white;
    padding: 30px 15px;
}

.sales{
    position: absolute;
    bottom: 50px;
    left: 0;
    background-color: red;
    color: white;
    font-size: 12px;
    padding: 5px 8px;
}

.sustainable{
    position: absolute;
    bottom: 50px;
    background-color: #008000;
    color: white;
    font-size: 12px;
    padding: 5px 8px;
}

/* POSITION TAGS */

.align-center{
    align-items: center;
}

.p-relative{
    position: relative;
}

.p-fixed{
    position: fixed;
    z-index: 1;
}

.d-flex{
    display: flex;
}

.justify-center{
    justify-content: center;
}

.d-block{
    display: block;
}

.margin-y{
    margin: 150px 0px;
}

.l-50px{
    left: 50px;
}

/* TEXT SETTINGS */

*{
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
    color: white;
}

.text-center{
    text-align: center;
}

.white-text-style{
    font-weight: 600;
    color: white;
}

.sales-style{
    color: red;
}

.previos-price{
    text-decoration: line-through;
}

/* WIDTH TAGS */

.max-width100{
    max-width: 100%;
}

.max-width80{
    max-width: 80%;
}

/* COLUMNS */

.col-50{
    width: calc(50%);
}

.col-100{
    width: calc(100%);
}

.col-3{
    width: calc(100% / 3 -20px);
}

.col-70{
    width: calc(70%);
}

.col-30{
    width: calc(30%);
}


/* COLORS */

.white{
    color: white;
}

.bg-orange{
    background-color: #FF6900;
}

.bg-black{
    background-color: #1A1A1A;
}