*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ROW */

.row{
   display: flex;
   justify-content: center;
   align-content: center;
   margin: 0 auto;
}

.justify-end{
    justify-content: flex-end;
}

.row-gap{
    gap: 20px 20px;
}

.flex-wrap{
    flex-wrap: wrap;
}

/* .square{
    height: 500px;
    width: 400px;
    background-color: #FF6900;

} */

/* CONTAINER */

.container-fluid{
    width: 100%;
}

.container{
    display: flex;
    margin: 0 auto;
}


/* POSITION TAGS */

.p-fixed{
    position: fixed;
}

.d-flex{
    display: flex;
}

.justify-center{
    justify-content: center;
}

.d-block{
    display: block;
}

.margin-y{
    margin: 150px 0px;
}

/* TEXT SETTINGS */

.text-center{
    text-align: center;
}

/* WIDTH TAGS */

.max-width80{
    max-width: 80%;
}

/* COLUMNS */

.col-50{
    width: calc(50%);
}

.col-100{
    width: calc(100%);
}

.col-3{
    width: calc(100% / 3 -30px);
}

.col-70{
    width: calc(70%);
}

.col-30{
    width: calc(30%);
}


/* COLORS */

.bg-orange{
    background-color: #FF6900;
}

.bg-black{
    background-color: #1A1A1A;
}